<div class="w-[100vw] h-[10vh] bg-zinc-700 text-white flex justify-around items-center">
 <h1 class="text-4xl">Test1</h1>
    <div > 
        <a class="ml-[20px] text3xl" href="/createpost">CREATE POST</a>
    <a class="ml-[20px] text3xl" href="/">HOME</a>
    <a class="ml-[20px] text3xl" href="/login">LOGIN</a>
    <a class="ml-[20px] text3xl" href="/register">REGISTER</a>
</div> 
</div>