<%-include("partials/header")%>
<%-include("partials/nav")%>
   <div class="h-[80vh] w-[90vw] bg-blue-200 ml-[90px] mt-[60px] p-[20px]" >
    <div class="avatarOut h-[100px] w-[100px] bg-white rounded-full ml-[100px] overflow-hidden mt-[50px]"><img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4lTwq_Cb_AwEquAa0B6WNOZCpeZvSiVQq8j7xqw8mJcy-9I4YuIX2lQCPg5w2qaaa42A&usqp=CAU" alt=""></div>
    <h1 class="text-5xl ml-[90px] pt-[10px]">
        <%=user.username%>
    </h1>
   </div>
<%-include("partials/footer")%>
